<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
	<!--<![endif]-->

	<head>
		<meta charset="utf-8">
		<title>
			{% if page.title %}
			  {{ page.title }} | {{ site.title }}
			{% else %}
			  {{ site.title }}
			{% endif %}
		</title>
		<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}Welcome to the Data Science Lab page, a hub for data science insights, research, and innovation at the Rey Juan Carlos University.{% endif %}">
		<meta name="author" content="Felipe Ortega">

		<!-- Open Graph / Facebook / WhatsApp -->
		<meta property="og:locale" content="en">
		<meta property="og:title" content="{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}">
		<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}Explore data science projects, research, and tools developed at the Data Science Lab, Universidad Rey Juan Carlos.{% endif %}">
		<meta property="og:type" content="website">
		<meta property="og:url" content="{{ site.url }}{{ page.url }}">
		<meta property="og:site_name" content="{{ site.title }">
		<meta property="og:image" content="{% if page.image %}{{ site.url }}{{ page.image }}{% else %}{{ site.url }}/assets/images/og-default.jpg{% endif %}">
		<meta property="og:image:width" content="1200">
		<meta property="og:image:height" content="630">
		<meta property="og:image:type" content="image/jpg">

		<!-- Twitter Card -->
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content="{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}">
		<meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}Discover cutting-edge data science work at Universidad Rey Juan Carlos.{% endif %}">
		<meta name="twitter:image" content="{% if page.image %}{{ site.url }}{{ page.image }}{% else %}{{ site.url }}/assets/images/og-default.jpg{% endif %}">
		<meta name="twitter:image:alt" content="URJC Data Science Laboratory logo">
		<meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
		<meta name="twitter:site" content="@DSLAB_URJC">
		<meta name="twitter:creator" content="@DSLAB_URJC">

		<!-- Mobile Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Favicon -->
		<link rel="shortcut icon" href="{{ site.url }}/assets/images/favicon.ico">

		<!-- Web Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>

		<!-- Bootstrap core CSS -->
		<link href="{{ site.url }}/assets/bootstrap/css/bootstrap.css" rel="stylesheet">

		<!-- Font Awesome CSS -->
		<link href="{{ site.url }}/assets/fonts/fontawesome-6.5.2/css/all.min.css" rel="stylesheet">

		<!-- Fontello CSS -->
		<link href="{{ site.url }}/assets/fonts/fontello/css/fontello.css" rel="stylesheet">

		<!-- Plugins -->
		<!-- <link href="{{ site.url }}/assets/plugins/magnific-popup/magnific-popup.css" rel="stylesheet"> -->
		<link href="{{ site.url }}/assets/css/animations.css" rel="stylesheet">
		<!-- <link href="{{ site.url }}/assets/plugins/owl-carousel/owl.carousel.css" rel="stylesheet"> -->
		<!-- <link href="{{ site.url }}/assets/plugins/owl-carousel/owl.transitions.css" rel="stylesheet"> -->
		<link href="{{ site.url }}/assets/plugins/hover/hover-min.css" rel="stylesheet">
		<!-- <link href="{{ site.url }}/assets/plugins/morphext/morphext.css" rel="stylesheet"> -->

		<!-- The Project core CSS file -->
		<link href="{{ site.url }}/assets/css/style.css" rel="stylesheet">
		<!-- Color Scheme (In order to change the color scheme, replace the blue.css with the color scheme that you prefer)-->
		<link href="{{ site.url }}/assets/css/skins/blue.css" rel="stylesheet">

		<!-- Custom css -->
		<link href="{{ site.url }}/assets/css/custom.css" rel="stylesheet">
	</head>
