<!-- scrollToTop -->
<!-- ================ -->
<div class="scrollToTop circle">
	<i class="icon-up-open-big"></i>
</div>

<!-- page wrapper start -->
<!-- ================ -->
<div class="page-wrapper">

	<!-- header-container start -->
	<div class="header-container">

		<!-- header-top start -->
		<!-- classes:  -->
		<!-- "dark": dark version of header top e.g. class="header-top dark" -->
		<!-- "colored": colored version of header top e.g. class="header-top colored" -->
		<!-- ================ -->
		<div class="header-top dark ">
			<div class="container">
				<div class="row">
					<div class="col-xs-2 col-sm-5">
						<!-- header-top-first start -->
						<!-- ================ -->
						<div class="header-top-first clearfix">
							<ul class="social-links circle small clearfix hidden-xs">
								<li class="twitter">
									<a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a>
								</li>
								<li class="skype">
									<a target="_blank" href="http://www.skype.com"><i class="fa fa-skype"></i></a>
								</li>
								<li class="linkedin">
									<a target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a>
								</li>
								<li class="googleplus">
									<a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a>
								</li>
								<li class="youtube">
									<a target="_blank" href="http://www.youtube.com"><i class="fa fa-youtube-play"></i></a>
								</li>
								<li class="vimeo">
									<a target="_blank" href="http://www.vimeo.com"><i class="fa fa-vimeo"></i></a>
								</li>
								<li class="flickr">
									<a target="_blank" href="http://www.flickr.com"><i class="fa fa-flickr"></i></a>
								</li>
								<li class="pinterest">
									<a target="_blank" href="http://www.pinterest.com"><i class="fa fa-pinterest"></i></a>
								</li>
							</ul>
							<div class="social-links hidden-lg hidden-md hidden-sm circle small">
								<div class="btn-group dropdown">
									<button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
										<i class="fa fa-share-alt"></i>
									</button>
									<ul class="dropdown-menu dropdown-animation">
										<li class="twitter">
											<a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a>
										</li>
										<li class="skype">
											<a target="_blank" href="http://www.skype.com"><i class="fa fa-skype"></i></a>
										</li>
										<li class="linkedin">
											<a target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a>
										</li>
										<li class="googleplus">
											<a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a>
										</li>
										<li class="youtube">
											<a target="_blank" href="http://www.youtube.com"><i class="fa fa-youtube-play"></i></a>
										</li>
										<li class="flickr">
											<a target="_blank" href="http://www.flickr.com"><i class="fa fa-flickr"></i></a>
										</li>
										<li class="facebook">
											<a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a>
										</li>
										<li class="pinterest">
											<a target="_blank" href="http://www.pinterest.com"><i class="fa fa-pinterest"></i></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<!-- header-top-first end -->
					</div>
					<div class="col-xs-10 col-sm-7">

						<!-- header-top-second start -->
						<!-- ================ -->
						<div id="header-top-second"  class="clearfix text-right">
							<ul class="list-inline">
								<li>
									<i class="fa fa-phone pr-5 pl-10"></i>+34 914884630
								</li>
								<li>
									<i class="fa fa-envelope-o pr-5 pl-10"></i> info@datasciencelab.es
								</li>
							</ul>
						</div>
						<!-- header-top-second end -->
					</div>
				</div>
			</div>
		</div>
		<!-- header-top end -->

		<!-- header start -->
		<!-- classes:  -->
		<!-- "fixed": enables fixed navigation mode (sticky menu) e.g. class="header fixed clearfix" -->
		<!-- "dark": dark version of header e.g. class="header dark clearfix" -->
		<!-- "full-width": mandatory class for the full-width menu layout -->
		<!-- "centered": mandatory class for the centered logo layout -->
		<!-- ================ -->
		<header class="header  fixed   clearfix">

			<div class="container">
				<div class="row">
					<div class="col-md-3 ">
						<!-- header-left start -->
						<!-- ================ -->
						<div class="header-left clearfix">

							<!-- logo -->
							<div id="logo" class="logo">
								<a href="{{ site.baseurl }}"><img id="DSLab_logo" src="{{ site.baseurl }}images/DSLab_logo.png" alt="Data Science Lab"></a>
							</div>

							<!-- name-and-slogan -->
							<div class="site-slogan">
								CETINIA - Universidad Rey Juan Carlos
							</div>

						</div>
						<!-- header-left end -->

					</div>
					<div class="col-md-9">

						<!-- header-right start -->
						<!-- ================ -->
						<div class="header-right clearfix">

							<!-- main-navigation start -->
							<!-- classes: -->
							<!-- "onclick": Makes the dropdowns open on click, this the default bootstrap behavior e.g. class="main-navigation onclick" -->
							<!-- "animated": Enables animations on dropdowns opening e.g. class="main-navigation animated" -->
							<!-- "with-dropdown-buttons": Mandatory class that adds extra space, to the main navigation, for the search and cart dropdowns -->
							<!-- ================ -->
							<div class="main-navigation  animated with-dropdown-buttons">

								<!-- navbar start -->
								<!-- ================ -->
								<nav class="navbar navbar-default" role="navigation">
									<div class="container-fluid">

										<!-- Toggle get grouped for better mobile display -->
										<div class="navbar-header">
											<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
												<span class="sr-only">Toggle navigation</span>
												<span class="icon-bar"></span>
												<span class="icon-bar"></span>
												<span class="icon-bar"></span>
											</button>

										</div>

										<!-- Collect the nav links, forms, and other content for toggling -->
										<div class="collapse navbar-collapse" id="navbar-collapse-1">
											<!-- main-menu -->
											<!-- capture main menu section from page URL -->
											{% capture maincat %}{{ page.url | remove_first:'/' | split:'/' | first }}{% endcapture %}
											<!-- capture current page -->
											
											<ul class="nav navbar-nav ">
												<!-- menu start Home -->
												<li>
													<a href="{{ site.baseurl }}">Home</a>
												</li>
												<!-- menu end -->
												<!-- menu start About-->
												{% if page.title == 'About' or maincat == 'about' %}
												<li class="dropdown active">
												{% else %}
												<li class="dropdown ">
												{% endif %}
													<a href="#" class="dropdown-toggle" data-toggle="dropdown">About</a>
													<ul class="dropdown-menu">
														<li>
															<a href="{{ site.baseurl }}about">About Us</a>
														</li>
														<li>
															<a href="{{ site.baseurl }}about/people">People</a>
														</li>
													</ul>
												</li>
												<!-- menu end -->
												<!-- menu start Education -->
												{% if maincat == 'education' %}
												<li class="dropdown active">
												{% else %}
												<li class="dropdown ">
												{% endif %}
													<a href="#" class="dropdown-toggle" data-toggle="dropdown">Education</a>
													<ul class="dropdown-menu">
														<li>
															<a href="http://www.masterdatascience.es">Master in Data Science</a>
														</li>
														<li>
															<a href="{{ site.baseurl }}education/courses">Courses</a>
														</li>
													</ul>
												</li>
												<!-- menu end -->
												<!-- menu start Research -->
												{% if maincat == 'research' %}
												<li class="dropdown active">
												{% else %}
												<li class="dropdown ">
												{% endif %}
													<a href="#" class="dropdown-toggle" data-toggle="dropdown">Research</a>
													<ul class="dropdown-menu">
														<li>
															<a href="{{ site.baseurl }}research">Research lines</a>
														</li>
														<li>
															<a href="{{ site.baseurl }}research/projects">Projects</a>
														</li>
														<li>
															<a href="{{ site.baseurl }}research/publications">Publications</a>
														</li>
													</ul>
												</li>
												<!-- menu end -->
												<!-- menu start Consulting -->
												{% if page.title == 'Consulting' %}
												<li class="active">
												{% else %}
												<li>
												{% endif %}
													<a href="{{ site.baseurl }}consulting">Consulting</a>
												</li>
												<!-- menu end -->
												<!-- menu start Parnters -->
												{% if page.title == 'Partners' %}
												<li class="active">
												{% else %}
												<li>
												{% endif %}
													<a href="{{ site.baseurl }}partners">Partners</a>
												</li>
												<!-- menu end -->
												<!-- menu start Blog -->
												{% if page.title == 'Blog' or maincat == 'blog' %}
												<li class="dropdown active">
												{% else %}
												<li class="dropdown">
												{% endif %}
													<a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog</a>
													<ul class="dropdown-menu">
														<li>
															<a href="{{ site.baseurl }}blog" class="dropdown-toggle" data-toggle="dropdown">Blog Home</a>
														</li>
<!--
														<li>
															<a href="{{ site.baseurl }}blog/masonry">Masonry</a>
														</li>
														<li>
															<a href="{{ site.baseurl }}blog/timeline">Timeline</a>
														</li>
-->
													</ul>
												</li>
												<!-- menu end -->
											</ul>
											<!-- main-menu end -->
										</div>

									</div>
								</nav>
								<!-- navbar end -->

							</div>
							<!-- main-navigation end -->
						</div>
						<!-- header-right end -->

					</div>
				</div>
			</div>

		</header>
		<!-- header end -->
	</div>
	<!-- header-container end -->
	<!-- breadcrumb start -->
	<!-- ================ -->
	<div class="breadcrumb-container">
		<div class="container">
			<ol class="breadcrumb">
				<li>
					<i class="fa fa-home pr-10"></i><a href="{{ site.baseurl }}">Home</a>
				</li>
				{% if page.parent_cat %}
				<li>
					<a href="{{ site.baseurl }}{{ page.parent_cat | downcase }}">{{ page.parent_cat }}</a>
				</li>
				{% endif %}
				<li class="active">
					{{ page.title }}
				</li>
			</ol>
		</div>
	</div>
	<!-- breadcrumb end -->
